 /*font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;*/

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373a39; 
  background-color: #E5E5E5;
  margin: 0 auto; 
}

.main{
  min-height: height 100vh;
  max-width: 1440px important;
  margin: 0 auto;
  /* background-color: #cff3df; */
  display: block;
}

.container{
  max-width: 1190px;
  padding: 0;
  margin: 0 auto;
  display: block;
}
.title{
  font-family: Montserrat;
  Font-style: Bold;
  Font-size: 48px;
  Line-height: 75px;
  Line-height: 128%;
  Letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position:relative;  
  align-self: flex-start;
}

.title::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

.header{
  background-image: url('../images/headerbg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  height: 752px;

}
 .header__top {
  padding: 0 10px;
  margin: 0 auto;
  background-color: #fff;
}
.header__top-inner {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 94px;
  
}

.menu{  
  padding-top: 40px;
}

.menu__list {
  display: flex;
}

.menu__list-link{
  text-decoration: none;
  padding: 0 9px 9px;
  font-weight: bold;
  Font-size: 1em;
  Line-height: 1em;
  text-transform: uppercase;
  color: #373a39;
  font-family: 'Raleway', Sans-serif;
  letter-spacing: 0,6px;
  transition: all .7s ease;
}

.menu__list-item + .menu__list-item{
  margin-left: 30px;
}

.menu__list-link:hover{
  border-bottom: 1pt solid #FCBB08;
}

/** header__content*/

.header__content{
  font-family: 'Montserrat', sans-serif;
}

.header__content-inner{
  max-width: 1190px;
  height: 658px;
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  align-items: center;
  margin: 0 auto;
 /*  min-height: calc(100vh - 93px); */
 position: relative;

  }

.header__title{  
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  padding: 0;
  color: #fff;   
  position: static;
  display: block;
  padding: 240px 20px 20px;
  
}

.header__subtitle{
  display: block;
  Font-style: Bold;
  Font-size: 16sp;
  Line-height: 20sp;
  Line-height: 100%;
  align-items: Center;
  Letter-spacing: 2.74dp;
  color:  #FCBB08;
   margin-top: 20px;
  /*margin-bottom: 120px; */
}

.header__icon {
  display: block;
  align-items: Center;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  top: 170px;
  left: 0;
  right: 0;
  bottom: 10px;
}


/* About Us */

.about{
  background-color: #F6F8FA;
  padding: 150px 0 160px;
  max-width: 1440px;
  margin: 0 auto;
  

}

.about__inner{
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
}



.about__text p{
  max-width: 770px;
  margin-bottom: 16px;
  }


/* Expertise */

.expertise{
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0 0;
  height: 877px;
  background-color: #fff;
}

.expertise__title{
  font-size: 60px;
}

.expertise__scils{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 98px auto 0;
  height: 137px;
 }

.scils__info{
  width: 350px;
}

.scils__info-item{
  display: block;
}

.scils__info-item h4{
  max-width: 100%; 
}

.meter{
  width: 90%; 
  align-items: center;
  
}
.scils__text{
 color: #373A39;
}

.scils__text p{
  max-width: 770px;
  margin: 0 16px 0 0;  
}

.expertise__services{
  height: 141px;
  margin-top: 110px;
  
    display: flex;
  /* justify-content: space-between; */
}


.expertise__item{
  /* background-color: rgb(238, 205, 219); */
  width: 370px;
  padding-left: 10px;
  display: flex;
  /* justify-content: space-between; */
}

.expertise__item--des{
  background-image: url('../images/icon-vector.svg ');
  width: 51px;
  /* padding-left: 10px; */
}
.expertise__item--dev{
  background-image: url('../images/icon-monitor.svg ');
  width: 51px;
  padding-left: 10px;
}
.expertise__item--mark{
  background-image: url('../images/icon-speaker.svg');
  width: 51px;
  padding-left: 10px;
}

.expertise__item img{
  display: block;
  align-items: flex-start;
}
.expertise__item-inner{ 
  padding: 0;
  width: 100%;
  margin-left: 20px;
  font-size: 14px;
  
}
.expertise__item + .expertise__item{
  margin-left: 60px;
}

.expertise__item h4{
  line-height: 20px;
  letter-spacing: 4px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
  line-height: 20px;  
}

.expertise__item p{
  color: #777;  
}

    /* Vision */

.vision{
 max-width: 1440px;
  padding-bottom: 0;
  /* max-width: 144px; */
  margin:0 auto;
  background: #F6F8FA;
}  

.container-inner{
  margin: 0;
  padding: 0;
  display: flex;
 /* justify-content: space-between; */
  max-height: 840px;
  
    

}

.vision__pic{
  width: 720px;
  max-height: 840px;  
}

.vision__pic img {
  max-height: 840px;
}

.vision__text-inner{
  max-width: 720px;
  padding: 100px 135px 180px 135px;
  max-height: 840px;
}

.vision__title{
  margin-bottom: 67px;
  margin-right: 27px;
}

.vision__text-inner p{
  margin-top: 25px;
  display: block;
}

      /* portfolio */

 .portfolio{
  height: 2615px;
  max-width: 1440px;
  background-color: #d0ecee;
  margin:0 auto;
  margin-bottom: 10px;
} 

.portfolio__nav{
  background-color: #fff;
  height: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 125px;


}
.ul{
  display: flex;
}

.ul li{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: right;
  margin-top: 28px;
  color: #333333;
}

.portfolio__nav ul li + li{
  margin-left: 30px;
}

.portfolio__title{
  margin-top: 139px;
}

.portfolio__show{
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  height: 950px;
  column-count: 4;  
  column-gap: 22px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.portfolio__item img{
  top: 0;
  width: 100%;
  margin-bottom: 20px;  
}

.projects{
  margin: 0 auto;
  height: 100px;
  max-width: 1440px;
  background-color: #F6F8FA;
  /* padding: 0; */
  position: relative;
}

.projects-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  text-decoration: none;
  padding: 45px 20px 45px;
}

.blockquote{
  margin: 0 auto;
  height: 430px;
  max-width: 1440px;
  background-color: #fff;
  padding: 0;
  position: relative;
}

.testimonial {
  margin: 0 auto;
  font-family: 'Times New Roman',sans-serif;
  font-weight: 300;
  text-align: center;  
  font-style: italic;
  font-size: 18px;
  line-height: 36px;  
  text-decoration: none;
  color: #242121;
  padding: 130px 20px 100px;
  width: 650px;
}

.blockquote-cite{
font-family: sans-serif, Times, serif;
font-style: italic;
font-weight: 300;
font-size: 14px;
line-height: 32px;
text-align: center;
color: #9E9E9E;
padding: 40px 20px 50px;
}

blockquote-cite


/* video */
.portfolio__video{

}











/* ---- End  Portfolio--- */

/* Footer */

.footer {
  height: 200px;
  background-color: #555;
  margin: 0 auto;
  max-width: 1440px;
  /* color: #fff;
  font-weight: 700; */
  font-size: 14px;
  
}

.bottom {
  height: 70px;
  background-color: rgb(17, 6, 6);
  margin: 0 auto;
  max-width: 1440px;
  /* color: #fff; */
    font-size: 14px;  
}

  .footer h3,
  .bottom p{
    color: #fff;
    font-weight: 700;
    align-items: center;
    margin: 0 auto;
  }





/* Bottom */





/* .menu ul li + ul li{
  margin-left: 30px;
} */