 /*font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;*/

body {
  min-height: height 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373a39;
  
}

.container{
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  display: block;
}
.title{
  font-family: Montserrat;
  Font-style: Bold;
  Font-size: 48px;
  Line-height: 75px;
  Line-height: 128%;
  Letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position:relative;  
  align-self: flex-start;
}

.title::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

.header{
  background-image: url('../images/headerbg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .header__top {
  padding: 0 10px;
  margin: 0 auto;
  background-color: #fff;
}
.header__top-inner {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 94px;
  
}

.menu{  
  padding-top: 40px;
}

.menu__list {
  display: flex;
}

.menu__list-link{
  text-decoration: none;
  padding: 0 9px 9px;
  font-weight: bold;
  Font-size: 1em;
  Line-height: 1em;
  text-transform: uppercase;
  color: #373a39;
  font-family: 'Raleway', Sans-serif;
  letter-spacing: 0,6px;
  transition: all .7s ease;
}

.menu__list-item + .menu__list-item{
  margin-left: 30px;
}

.menu__list-link:hover{
  border-bottom: 1pt solid #FCBB08;
}

/** header__content*/

.header__content{
  font-family: 'Montserrat', sans-serif;
}

.header__content-inner{
  max-width: 1190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: calc(100vh - 93px);
  justify-content: space-between;
}

.header__title{  
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  margin-top: 360px;
  color: #fff;  
}

.header__subtitle{
  Font-style: Bold;
  Font-size: 16sp;
  Line-height: 20sp;
  Line-height: 100%;
  align-items: Center;
  Vertical-align: Bottom;
  Letter-spacing: 2.74dp;
  color:  #FCBB08;
  margin-bottom: auto;
  margin-top: 20px;
  margin-bottom: 120px;
}

.header__icoh{
  margin-bottom: 62px;
}

/* About Us */

.about{
  background-color: #F6F8FA;
  padding: 150px 0 160px;
  

}

.about__inner{
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
}



.about__text p{
  max-width: 770px;
  margin-bottom: 16px;
  }


/* Expertise */

.expertise{
  padding-top: 20px;
  height: 877px;
  background-color: #fff;
}

.mmm{
  font-size: 60px;
}

.expertise__scils{
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
  margin-top: 98px;
  height: 137px;
 }

.scils__info{
  width: 350px;
}

.scils__info-item{
  display: block;
}

.scils__info-item h4{
  max-width: 100%; 
}

.meter{
  width: 90%; 
  align-items: center;
  
}
.scils__text{
 color: #373A39;
}

.scils__text p{
  max-width: 770px;
  margin: 0 16px 0 0;  
}

.expertise__services{
  height: 141px;
  margin-top: 110px;
    display: flex;
  justify-content: space-between;
}


.expertise__item{
  /* background-color: rgb(238, 205, 219); */
  width: 370px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.expertise__item--des{
  background-image: url('../images/icon-vector.svg ');
  width: 51px;
  /* padding-left: 10px; */
}
.expertise__item--dev{
  background-image: url('../images/icon-monitor.svg ');
  width: 51px;
  padding-left: 10px;
}
.expertise__item--mark{
  background-image: url('../images/icon-speaker.svg');
  width: 51px;
  padding-left: 10px;
}

.expertise__item img{
  display: block;
  align-items: flex-start;
}
.expertise__item-inner{ 
  padding: 0;
  width: 100%;
  margin-left: 20px;
  font-size: 14px;
  
}

.expertise__item h4{
  line-height: 20px;
  letter-spacing: 4px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
  line-height: 20px;  
}

.expertise__item p{
  color: #777;  
}

    /* Vision */

.vision{
  /* background-color: #dbb3d3;  */
  padding-bottom: 0;
  max-width: 1440px;
  margin:0 auto;
  
  

}  

.container-inner{
  margin: 0;
  padding: 0;
  display: flex;
 justify-content: space-between;
  max-height: 840px;
  
    

}

.kart{
  width: 686;
  max-height: 840px;
  margin: 0;
  /* background-color: #FCBB08; */
  background-color:  #efc557;
  
}
.kart img {
  /* display: block; */
  max-height: 100%;
  


}


.vision__text-inner{
  max-width: 400px;
  background-color: #08fc31;
  max-width: 50%;
}

.vision__text-inner h2{
  margin-bottom: 67px;
}

.vision__text-inner p{
  margin-top: 25px;
}

/* portfolio */

.portfolio{
  height: 1440px;
  max-width: 1190px;
  background-color: #98b3b6;
  margin:0 auto;
}