 /*font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;*/

body {
  min-height: height 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: 14px;
  line-height: 24px;
  color: #373a39;
}

.title{
  font-family: Montserrat;
  Font-style: Bold;
  Font-size: 48px;
  Line-height: 75px;
  Line-height: 128%;
  Letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position:relative;  
  align-self: flex-start;
}

.title::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

.header{
  background-image: url('../images/headerbg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .header__top {
  padding: 0 10px;
  margin: 0 auto;
  background-color: #fff;
}
.header__top-inner {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 94px;
  
}

.menu{  
  padding-top: 40px;
}

.menu__list {
  display: flex;
}

.menu__list-link{
  text-decoration: none;
  padding: 0 9px 9px;
  font-weight: bold;
  Font-size: 1em;
  Line-height: 1em;
  text-transform: uppercase;
  color: #373a39;
  font-family: 'Raleway', Sans-serif;
  letter-spacing: 0,6px;
  transition: all .7s ease;
}

.menu__list-item + .menu__list-item{
  margin-left: 30px;
}

.menu__list-link:hover{
  border-bottom: 1pt solid #FCBB08;
}

/** header__content*/

.header__content{
  font-family: 'Montserrat', sans-serif;
}

.header__content-inner{
  max-width: 1190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: calc(100vh - 93px);
  justify-content: space-between;
}

.header__title{
  
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  margin-top: 360px;
  color: #fff;
  
}

.header__subtitle{
  Font-style: Bold;
  Font-size: 16sp;
  Line-height: 20sp;
  Line-height: 100%;
  Align: Center;
  Vertical-align: Bottom;
  Letter-spacing: 2.74dp;
  color:  #FCBB08;
  margin-bottom: auto;
  margin-top: 20px;
  margin-bottom: 120px;
}

.header__icoh{
  margin-bottom: 62px;
}

/* About Us */

.about{
  background-color: #F6F8FA;
  padding: 150px 0 160px;
  

}

.about__inner{
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
}



.about__text p{
  max-width: 770px;
  margin-bottom: 16px;
}